extends layout

block content
  navbar-default 
  h1 Welcome to the Admin Portal
  h2 Options:
  ol
    li
      a 
      h3 List all users (Name and ID):
      form(method='POST' action='/results' name = 'listusers')
        label(for='listusers')
        button(type='submit' name = "listusersbutton" placeholder="00u13we0z1nmnNSyN4x7" required) Retrieve users
        
    li
      a 
      h3 List all Groups (Name and ID):
      form(method='POST' action='/results' name = 'listgroups')
        label(for='listgroups')
        button(type='submit' name = "listgroupsbutton" placeholder="00u13we0z1nmnNSyN4x7" required) Retrieve groups
    li
      a 
      h3 Create a user:
      p Confirm that your email is unique and correct. You will need it to login.
      form(method='POST' action='/results' name = 'createuser')
        label(for='createuserfirstname')
        input(id="createuserfirstname" type="text" name="createuserfirstname" placeholder="first name" required)
        br
        label(for='createuserlastname')
        input(id="createuserlastname" type="text" name="createuserlastname" placeholder="last name" required)
        br
        label(for='email')   
        input(id="email" type="email" name="createuseremail" placeholder="123@gmail.com" required)
        br
        label(for='mobilePhone')   
        input(id="mobilePhone" type="tel" name="createusermobilephone" placeholder="1234567890" required)
        br
        label(for='password')
        input(id="password" type="password" name="createuserpassword" placeholder="password" required)
        br
        button(type="reset" name="reset") Reset
        br
        button(type='submit' name = "createuserbutton") Create user    
    li
      a
      h3 Delete a user by ID:
      p Execute once to deactivate user. Execute twice to delete user from organization.
      form(method='POST' action='/results' name = 'deleteuser')
        label(for='deleteuser')
        input(id="deleteuser" type="text" name="deleteuser" placeholder="00u13we0z1nmnNSyN4x7" required)
        br
        button(type="submit" name="deleteuserbutton") Delete (this action cannot be undone)
    li
      a 
      h3 Upgrade a user by ID:
      p Grant the user access to the Admin group. Copy your Admin group ID here, then your user ID.
      form(method='POST' action='/results' name = 'upgradeuserid')
        label(for='upgradeeuserid') User ID
        br
        input(id="upgradeuserid" type="text" name="upgradeuserid" placeholder="00u13we0z1nmnNSyN4x7" required)
        br
        label(for='upgradegroupid') Group ID
        br
        input(id="upgradegroupid" type="text" name="upgradegroupid" placeholder="00u13we0z1nmnNSyN4x7" required)
        br
        button(type="submit" name="upgradeuserbutton") Make an admin
    li
      a
      h3 Update your profile
      p Double check spelling on your email. Locking out of account is possible.
      form(method='POST' action='/results' name = 'updateuser')
        label(for='updateuserfirstname')
        input(id="updateuserfirstname" type="text" name="updateuserfirstname" placeholder="first name" required)
        br
        label(for='updateuserlastname')
        input(id="updateuserlastname" type="text" name="updateuserlastname" placeholder="last name" required)
        br
        label(for='updateemail')   
        input(id="updateemail" type="email" name="updateuseremail" placeholder="123@gmail.com" required)
        br
        label(for='updatemobilephone')   
        input(id="updatemobilephone" type="tel" name="updateusermobilephone" placeholder="1234567890" required)
        br
        label(for='updateuserpassword')
        input(id="updateuserpassword" type="password" name="updateuserpassword" placeholder="password" required)
        br
        button(type="reset" name="reset") Reset
        br
        button(type='submit' name = "updateuserbutton") Update user 
  form(method='POST' action='/logout')
    button(type='submit') logout
