extends layout

block content
  h1= title
  hr
  p Users:
  p Name | userId
  p Pat Burke | 00u13we0z1nmnNSyN4x7
  p Patrick Burke | 00uxwxpijT7QDwVA74x6
  p Perry Burke | 00u1558zlqjVMghXV4x7
  form(method='POST' action='/logout')
    button(type='submit') Logout
  form(method='GET' action='/')
    button(type='submit') Landing Page
  p Admin Portal (Just go back)
  hr
